.privacy_wrapper {
    background-color: #121514;
    color: #fff;
    padding-top: 180px;
    font-family: "Degular Light";
    /* padding: 180px 131px 100px 130px; */
}
.policy {
  max-width: 67rem;
  /* padding: 0 2rem; */
  margin: 0 auto;
}
/* .privacy_header{
    font-size: 20px;
} */
.privacy_content{
    padding: 20px 0px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #D0D5DD;
}
.privacy-content-head{
    color: #fff
}
@media (max-width: 760px) {
    .privacy_wrapper{
        padding: 100px 20px;
    }
}