.notFound {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(-200deg, lightgray 20%, #bbd3a1 100%); */
  background-image: url('../../../assets/Texture.png');
  background-color: #121514;
  height: 100vh;
}

.notFound__paragraph {
  /* position: absolute; */
  /* bottom: 0; */
  margin: 0 auto;
  text-align: center;
}
.notFound__text {
  font-family: 'Degular Text';
  color: white;
}

.notFound__button {
  display: block;
  /* padding-top: 25px; */
  text-decoration: none;
  width: 250px;
  margin: 0 auto;
  /* height: 60px; */
}

@media screen and (min-width: 100px) {
  .nofoundImg {
    /* width: 300px; */
    width: 20.4rem;
    height: 219px;
  }
  .notFound__paragraph {
    max-width: 56rem;
    /* top: 62%; */
    padding: 0 2rem;
    padding-top: 30px;
  }
  .notFound__text {
    font-size: 1.13rem;
    line-height: 1.7rem;
  }
   .notFound__button {
    padding-top: 20px;
  }
}
@media screen and (min-width: 576px) {
  .notFound__paragraph {
    max-width: 40rem;
    padding-top: 40px;
    /* top: 72%; */
  }
  .notFound__text {
    font-size: 18px;
    line-height: 28px;
  }
   .notFound__button {
    padding-top: 25px;
  }
}
@media screen and (min-width: 768px) {
  .nofoundImg {
    width: 350px;
    height: 250px;
  }
  .notFound__paragraph {
    max-width: 40rem;
    padding-top: 40px;
    /* top: 73%; */
  }
  .notFound__text {
    font-size: 20px;
    line-height: 28px;
  }
   .notFound__button {
    padding-top: 25px;
  }
}
@media screen and (min-width: 992px) {
  .nofoundImg {
    width: 500px;
    height: 300px;
  }
  .notFound__paragraph {
    max-width: 43rem;
    padding-top: 40px;
    /* top: 72%; */
  }
  .notFound__text {
    font-size: 24px;
    line-height: 32px;
  }
   .notFound__button {
    padding-top: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .nofoundImg {
    width: 500px;
    height: 300px;
  }
  .notFound__paragraph {
    max-width: 43rem;
    padding-top: 40px;
    /* top: 72%; */
  }
  .notFound__text {
    font-size: 24px;
    line-height: 32px;
  }
  .notFound__button {
    padding-top: 25px;
  }
}
