.tradeCryptoTwo {
  position: relative;
  display: flex;
}

.tradeCrypto_content {
  border-radius: 32px;
  flex-direction: column;
  background-color: #151817;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.tradeCrypto__head {
  font-style: normal;
  /* line-height: 48px; */
  font-family: Degular Text;
  color: white;
}

.tradeCrypto__para {
  color: white;
  /* color: #98a2b3; */
  padding-top: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 310px;
}

.tradeCrypto_div {
  position: relative;
  border-radius: 32px;
  border: 1px solid #669b893b;
  /* padding: 0.6px; */
  /* background: linear-gradient(to right, #ffffff2d, #58d6aa37); */
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.tradeCrypto_text {
  padding-top: 30px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.tradeCrypto_div .moreWidthColored {
  background: linear-gradient(
    220deg,
    #23262595 28.69%,
    #131716 100%
  ) !important;
}

/* .moreWidthColoredOne:hover .love {
  display: none;
} */
.moreWidthColored__reducedWidth {
  height: 300px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.none {
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.display {
  visibility: visible;
}
/* .moreWidthColoredTwo:hover .love {
  display: none;
} */
.moreWidthOne .moreWidthOne-paragraph {
  visibility: hidden;
  /*font-size: 60px;
    */
  opacity: 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.moreWidthOne:hover .moreWidthOne-paragraph {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.moreWidthOne:hover .tradeCrypto_text {
  padding-top: 70px;
}

.moreWidthOne:hover {
  height: 400px;
}
.moreWidthColoredOne:hover {
  height: 400px;
}
.moreWidthTwo:hover {
  height: 400px;
}
.moreWidthColoredTwo:hover {
  height: 400px;
}
.moreWidthColoredTwo:hover .tradeCrypto_content {
  background: linear-gradient(
    220deg,
    #23262595 28.69%,
    #131716 100%
  ) !important;
}

.moreWidthColoredOne:hover .tradeCrypto_content {
  background: linear-gradient(
    220deg,
    #23262595 28.69%,
    #131716 100%
  ) !important;
}

.moreWidthTwo .moreWidthTwo-paragraph {
  visibility: hidden;
  /*font-size: 60px;
  */
  opacity: 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.moreWidthTwo:hover .moreWidthTwo-paragraph {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.moreWidthTwo:hover .tradeCrypto_text {
  padding-top: 70px;
}

@media screen and (min-width: 100px) {
  .tradeCryptoTwo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 130px;
    padding-top: 40px;
    max-width: 77rem;
    height: 78rem;
    margin: 0 auto;
    gap: 24px;
  }
  .tradeCrypto {
    width: 40px;
    height: 40px;
  }
  .tradeCrypto_content {
    width: 100%;
    height: 300px;
    padding: 40px 20px;
  }
  .tradeCrypto_div {
    width: 89%;
    height: 300px;
  }
  .tradeCrypto__head {
    font-size: 36px;
    font-style: normal;
    line-height: 38px;
    font-family: Degular Text;
    color: white;
    padding-left: 0px;
    /* width: 300px; */
  }
  .moreWidth {
    height: 400px;
  }

  .moreWidthColored {
    height: 400px;
  }
  .tradeCrypto__para {
    padding-left: 3px;
  }
  .moreWidthColored__reducedWidth {
    height: 300px;
  }
}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
  .tradeCryptoTwo {
    height: 68rem;
    gap: 34px;
  }
  .tradeCrypto_content {
    width: 100%;
    height: 300px;
    padding: 40px 50px;
  }
  .tradeCrypto_div {
    width: 70%;
    height: 300px;
  }
}
@media screen and (min-width: 992px) {
  .tradeCryptoTwo {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 130px;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 47rem;
    height: 550px;
    margin: 0 auto;
    gap: 24px;
  }
  .tradeCrypto {
    width: 50px;
    height: 50px;
  }
  .tradeCrypto_content {
    width: 100%;
    height: 300px;
    padding: 40px 20px;
  }
  .tradeCrypto_div {
    width: 100%;
    height: 300px;
  }
  .tradeCrypto__head {
    font-size: 36px;
    font-style: normal;
    line-height: 48px;
    font-family: Degular Text;
    color: white;
    padding-left: 4px;
    width: 250px;
  }
  .moreWidth {
    height: 400px;
  }
  .moreWidthColoredOne{
     width: 393px;
  }
  .moreWidthColoredTwo{
     width: 393px;
  }
  .moreWidthColored {
    width: 400px;
    height: 400px;
  }
  .tradeCrypto__para {
    padding-left: 4px;
  }
  .moreWidthColored__reducedWidth {
    height: 300px;
  }
  /* .moreWidthColoredOne,
  .moreWidthColoredTwo {
    width: 390px;
  } */
  /* .moreWidthColored {
    width: 310px;
  } */
}
@media screen and (min-width: 1200px) {
  .tradeCryptoTwo {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 130px;
    padding-top: 40px;
    max-width: 70rem;
    height: 550px;
    margin: 0 auto;
    gap: 24px;
  }
  .tradeCrypto {
    width: 50px;
    height: 50px;
  }
  .tradeCrypto_content {
    width: 100%;
    height: 300px;
    padding: 40px 0px;
    padding-left: 20px;
    padding-right: 25px;
  }
  .tradeCrypto_div {
    width: 100%;
    height: 300px;
  }
  .tradeCrypto__head {
    font-size: 40px;
    font-style: normal;
    line-height: 48px;
    font-family: Degular Text;
    color: white;
    padding-left: 24px;
    width: 340px;
  }
  .moreWidthColoredOne{
     width: 353px;
  }
  .moreWidthColoredTwo{
     width: 400px;
  }
  .moreWidth {
    height: 400px;
  }
  .moreWidthColored {
    height: 400px;
  }
  .tradeCrypto__para {
    padding-left: 28px;
  }
  .moreWidthColored__reducedWidth {
    height: 300px;
  }
}
