.tradeCrypto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
  margin: auto;
  padding-bottom: 100px;
}

.tradeCrypto__div-content {
  position: relative;
}

.tradeCrypto__content {
  position: absolute;
  top: 40px;
  width: 100%;
}

.tradeCrypto__icon {
  width: 60px;
  height: 60px;
  margin-bottom: 0px;
  padding-right: 30px;
}

.tradeCrypto__icon-1 {
  width: 60px;
  height: 60px;
  margin-bottom: 0px;
  padding-right: 30px;
}

.tradeCrypto__iconOne {
  width: 60px;
  height: 60px;
  margin-bottom: 0px;
  padding-right: 30px;
}

.tradeCrypto__headingTwo {
  font-size: 40px;
  font-style: normal;
  /* font-weight: 200; */
  line-height: 48px;
  font-family: Degular Text;
  color: white;
  padding-left: 24px;
  /* max-width: 260px; */
  /* width: 290px; */
}

.tradeCrypto__heading {
  font-size: 40px;
  font-style: normal;
  line-height: 48px;
  font-family: Degular Text;
  color: white;
  padding-left: 24px;
  width: 380px;
}

.tradeCrypto__headingOne {
  font-family: Degular Text;
  font-size: 40px;
  font-style: normal;
  /* font-weight: 200; */
  line-height: 48px;
  color: white;
  padding-left: 24px;
  max-width: 290px;
  /* padding-bottom: 40px; */
}

.tradeCrypto__paragraph {
  color: white;
  /* color: #98a2b3; */
  padding-top: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-left: 24px;
  max-width: 310px;
}

.tradeCrypto__text {
  margin-top: 20px;
}

.tradeCrypto__textOne {
  margin-top: 40px;
}

@media screen and (min-width: 100px) {
  .tradeCrypto {
    flex-direction: column;
    padding-bottom: 160px;
    /* justify-items: center; */
    /* margin: auto; */
  }
  .tradeCrypto__bgImg {
    width: 320px;
    height: 400px;
  }
  .tradeCrypto__bgImgTwo {
    width: 320px;
    height: 314px;
  }
  .tradeCrypto__bgImgOne {
    width: 320px;
    height: 314px;
  }
  .tradeCrypto__text {
    margin-top: 0px;
  }
  .tradeCrypto__heading {
    bottom: 0px;
    top: 0px;
    font-size: 40px;
    width: 250px;
    padding-left: 24px;
  }
  .tradeCrypto__paragraph {
    color: white;
    padding-top: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 24px;
    max-width: 85%;
    font-family: "Degular Light" !important;
    /* max-width: 280px; */
  }
}

@media screen and (min-width: 576px) {
  .tradeCrypto {
    flex-direction: column;
    /* justify-items: center; */
    /* margin: auto; */
  }
  .tradeCrypto__bgImg {
    width: 342px;
    /* width: 542px; */
    height: 374px;
  }
  .tradeCrypto__bgImgTwo {
    width: 342px;
    /* width: 542px; */
    height: 314px;
  }
  .tradeCrypto__bgImgOne {
    width: 342px;
    /* width: 542px; */
    height: 314px;
  }
  .tradeCrypto__heading {
    bottom: 0px;
    top: 0px;
    font-size: 40px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .tradeCrypto {
    flex-direction: column;
  }
  .tradeCrypto__bgImg {
    width: 490px;
    height: 374px;
  }
  .tradeCrypto__bgImgTwo {
    width: 490px;
    height: 314px;
  }
  .tradeCrypto__bgImgOne {
    width: 490px;
    height: 314px;
  }
  .tradeCrypto {
    flex-direction: column;
    /* justify-items: center; */
    /* margin: auto; */
  }
  /* .tradeCrypto__heading {
    width: 400px;
  } */
  /* .tradeCrypto__paragraph {
    max-width: 300px;
  } */
}
@media screen and (min-width: 992px) {
  .tradeCrypto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    margin: auto;
    padding-bottom: 100px;
  }
  /* when flex direction is row */
  .tradeCrypto__bgImgTwo {
    width: 270px;
    height: 314px;
  }
  .tradeCrypto__textOne {
    max-width: 100%;
  }
  .tradeCrypto__bgImgOne {
    width: 320px;
    height: 314px;
  }
  .tradeCrypto__bgImg {
    width: 320px;
    height: 372px;
  }
}

@media screen and (min-width: 1200px) {
  .tradeCrypto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row !important;
    gap: 24px;
    width: 100%;
    margin: auto;
    padding-bottom: 160px;
  }
  .tradeCrypto__bgImgTwo {
    width: 313px;
    height: 314px;
  }
  .tradeCrypto__bgImgOne {
    width: 429px;
    height: 314px;
  }
  .tradeCrypto__bgImg {
    width: 379px;
    height: 372px;
  }
  .tradeCrypto__heading {
    width: 320px;
  }
}
