.testimonial {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #121514;
  color: white;
  padding-top: 160px;
  gap: 47px;
  padding-bottom: 160px;
  position: relative;
  /* max-width: 77rem; */
}
.testimonial__divOne {
  max-width: 74rem;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.testimonial__introduction {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #2fa67c;
  padding-bottom: 8px;
}
.testimonial__introduction-img {
  width: 16px;
  height: 16px;
}
.testimonial__header {
  color: white;
}
.testimonial__headerDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* justify-content: flex-start; */
}
.testimonial__headerText {
  width: 482px;
}

.testimonial_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  
}

.testionial_ellipse {
  position: absolute;
  /* left: 0px; */
  background-image: url('../../../assets/TestimonialEllipse.svg');
  width: 550px;
  height: 550px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.testionial_greenEllipse {
  position: absolute;
  right: 0px;
  background-image: url('../../../assets/greenEllipse.png');
  width: 660px;
  height: 550px;
}

.testimonial-divOne {
  position: relative;
  margin-top: 64px;
}

.testimonial__paragraphTwo-div {
  position: relative;
  z-index: 80px;
   /* font-family: "Degular Light" !important; */
}

.testimonial__content {
  position: absolute;
  top: 48px;
  left: 48px;
  /* padding: 48px; */
}

.testimonialBg {
  /* margin-left: 24px; */
  position: relative;
  height: 360px;
  width: 558px;
}

.testimonial__quoteImg {
  width: 57px;
  height: 50px;
}
.testimonial_ratings{
  display: flex;
  gap: 5px;
  padding-top: 25px;
}

.testimonial__paragraph {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding-top: 38px;
  padding-bottom: 80px;
  /* padding-left: 48px; */
  max-width: 420px;
  color: #fcfcfd;
   font-family: "Degular Light" !important;
}

.testimonial__paragraphTwo {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding-top: 48px;
  padding-bottom: 24px;
  z-index: 30px;
  max-width: 420px;
  color: #fcfcfd;
   font-family: "Degular Light" !important;
}
.testimonial__paragraphThree {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding-top: 48px;
  padding-bottom: 24px;
  max-width: 420px;
  color: #fcfcfd;
   font-family: "Degular Light" !important;
}

.testimonial__userName {
  width: 80%;
  font-size: 20px;
}

@media (min-width: 100px) {
  .testimonial_onlyDisplayDesktop{
    display: none;
  }
  .testimonial__divOne {
    margin: 0px auto;
    padding-left: 0px;
    z-index: 2;
  }
  .testimonial__introduction {
    margin-left: 15px;
  }
  .testimonial__introduction-img {
    width: 14px;
    height: 14px;
  }
  .testimonial__introduction-text {
    font-size: 16px;
  }
  .testimonial__header {
    font-size: 36px;
    font-weight: bolder;
    line-height: 44px;
    margin-left: 15px;
    width: 100%;
  }
  .testimonial {
    flex-direction: column;
    justify-items: center;
    /* width: 100%; */
    margin: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    padding-right: 0px !important;
  }
  .testimonial__headerText {
    width: 330px;
  }
  .testimonial__quoteImg {
    width: 37px;
    height: 30px;
  }
  .testionial_ellipse {
    display: none;
  }
  .testimonial-divOne {
    margin-top: 40px;
    z-index: 2;
  }
  .testimonial__content {
    top: 48px;
    left: 48px;
  }
  .testimonial__paragraph {
    padding-bottom: 40px;
    width: 85%;
  }
  .testimonial__paragraphTwo {
    width: 85%;
  }
  .testimonial__paragraphThree {
    width: 85%;
  }
  .testimonialBg {
    margin-left: 15px;
    /* margin-right: 15px; */
    position: relative;
    height: 560px;
    max-width: 90% !important;
  }
  .testimonial__blurRight {
    width: 550px;
    height: 550px;
    border-radius: 550px;
    opacity: 0.2;
    background: linear-gradient(
      180deg,
      #82cab0 0%,
      rgba(130, 202, 176, 0) 100%
    );
    filter: blur(125px);
    position: absolute;
    top: 50%;
    right: 40px;
  }
  .testimonial__blurLeft {
    width: 250px;
    height: 300px;
    border-radius: 550px;
    opacity: 0.2;
    background: linear-gradient(
      180deg,
      rgba(249, 112, 102, 0.64) 0%,
      rgba(88, 214, 170, 0.14) 100%
    );
    filter: blur(125px);
    position: absolute;
    top: 8%;
    left: 0;
    z-index: 1;
  }
}

@media (min-width: 576px) {
  .testimonial__divOne {
    margin: 60px auto;
    padding-left: 0px;
  }
  .testimonial__introduction {
    margin-left: 20px;
  }
  .testimonial__introduction-img {
    width: 14px;
    height: 14px;
  }
  .testimonial__introduction-text {
    font-size: 16px;
  }
  .testimonial__header {
    font-size: 36px;
    font-weight: 700;
    margin-left: 24px;
    width: 80%;
  }
  .testimonial {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    /* width: 100%; */
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 0px !important;
  }
  .testimonial__headerText {
    width: 530px;
  }
  .testimonial__quoteImg {
    width: 37px;
    height: 30px;
  }
  .testionial_ellipse {
    display: none;
  }
  .testimonial-divOne {
    margin-top: 30px;
  }
  .testimonial__content {
    top: 48px;
    left: 68px;
  }
  .testimonial__paragraph {
    padding-bottom: 40px;
    width: 100%;
  }
  .testimonial__paragraphTwo {
    width: 100%;
  }
  .testimonial__paragraphThree {
    width: 100%;
  }
  .testimonialBg {
    margin-left: 24px;
    position: relative;
    height: 480px;
    max-width: 85% !important;
  }
}
@media screen and (min-width: 768px) {
  
  .testimonial__introduction {
    display: flex;
    gap: 8px;
    color: #2fa67c;
    /* padding-bottom: 24px; */
    margin-left: 24px;
  }
  .testimonial__header {
    font-size: 36px;
    font-weight: 700;
    margin-left: 24px;
    width: 100%;
  }
  .testimonial {
    /* flex-direction: row;
    justify-items: center;
    gap: 0px; */
    flex-direction: column;
    justify-items: center;
    align-items: start;
    /* width: 100%; */
    margin: auto;
    padding-top: 50px;
    padding-bottom: 120px;
    padding-right: 0px !important;
  }
  .testimonial__headerDiv{
    align-self: center;

  }
  .testimonial_div{
    align-self: center;

  }
  .testimonial__headerText {
    padding-left: 80px;
    width: 590px;
  }
  .testimonial__quoteImg {
    width: 37px;
    height: 30px;
  }
  .testionial_ellipse {
    display: none;
  }
  .testimonial-divOne {
    margin-top: 0px;
  }
  .testimonial__content {
    top: 48px;
    left: 68px;
  }
  .testimonial__paragraph {
    padding-bottom: 40px;
    max-width: 80%;
  }
  .testimonial__paragraphTwo {
    /* width: 100%; */
     max-width: 80%;
  }
  .testimonial__paragraphThree {
    /* max-width: 100%; */
     max-width: 80%;
  }
  .testimonialBg {
    margin-left: 24px;
    position: relative;
    height: 480px;
    width: 598px;
  }
}
@media (min-width: 992px) {
  .testimonial_onlyDisplayDesktop{
    display: block;
  }
  .testimonial__onlyDisplayMobile{
    display: none;
  }
  .testimonial__divOne {
    margin: 0px auto;
    padding-left: 0px;
    z-index: 2;
  }
  .testimonial__introduction-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }
  .testimonial__introduction {
    padding-bottom: 15px;
    margin-left: 0px;
  }
  .testimonial__header {
    max-width: 562px;
    /* width: 569px; */
    /* height: 150px; */
    /* width: 100%; */
    /* margin: 0 auto; */
    color: white;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 0px;
  }
  .testimonial {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    background-color: #121514;
    color: white;
    padding-top: 160px;
    gap: 0px;
    padding-bottom: 160px;
    padding-left: 24px;
  }

  .testimonial__headerDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .testimonial__headerText {
    padding-left: 0px;
    width: 482px;
  }

  .testimonial_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 75px;
    /* position: relative;
  left: 5%; */
  }

  .testionial_ellipse {
    display: block;
    position: absolute;
    /* top: 20px; */
    left: 0px;
    background-image: url('../../../assets/TestimonialEllipse.svg');
    width: 550px;
    height: 550px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }

  .testionial_greenEllipse {
    position: absolute;
    right: 0px;
    background-image: url('../../../assets/greenEllipse.png');
    width: 660px;
    height: 550px;
  }

  .testimonial-divOne {
    position: relative;
    margin-top: 64px;
    z-index: 2;
  }

  .testimonial__paragraphTwo-div {
    position: relative;
    z-index: 80px;
    right: 0;
    
  }

  .testimonial__content {
    position: absolute;
    top: 48px;
    left: 48px;
    /* padding: 48px; */
  }

  .testimonialBg {
    margin-left: 0px;
    position: relative;
    height: 540px;
    width: 598px;
  }

  .testimonial__quoteImg {
    width: 57px;
    height: 50px;
  }

  .testimonial__paragraph {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding-top: 24px;
    /* padding-bottom: 80px; */
    /* padding-left: 48px; */
    max-width: 75%;
    color: #fcfcfd;
  }

  .testimonial__paragraphTwo {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding-top: 24px;
    padding-bottom: 24px;
    z-index: 30px;
    max-width: 76%;
    color: #fcfcfd;
  }
  .testimonial__paragraphThree {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding-top: 24px;
    padding-bottom: 24px;
    /* max-width: 420px; */
    width: 85%;
    color: #fcfcfd;
  }

  .testimonial__userName {
    font-size: 20px;
  }
  .testimonial__blurRight {
    width: 550px;
    height: 550px;
    border-radius: 550px;
    opacity: 0.2;
    background: linear-gradient(
      180deg,
      #82cab0 0%,
      rgba(130, 202, 176, 0) 100%
    );
    filter: blur(125px);
    position: absolute;
    top: 30%;
    right: 40px;
  }
  .testimonial__blurLeft {
    width: 450px;
    height: 400px;
    border-radius: 550px;
    opacity: 0.2;
    background: linear-gradient(
      180deg,
      rgba(249, 112, 102, 0.64) 0%,
      rgba(88, 214, 170, 0.14) 100%
    );
    filter: blur(125px);
    position: absolute;
    top: 30%;
    left: 80px;
    z-index: 1;
  }
}

@media screen and (min-width: 1200px) {
  /* .testimonial__headerText {
    width: 482px;
  } */
  .testimonial__header {
    width: 562px;
  }
  .testimonial {
    padding-left: 0px;
    align-items: start;
  }
  .testimonial__paragraphTwo {
    width: 90%;
  }
  .testimonial__paragraphThree {
    max-width: 75%;
  }
  .testimonial__blurRight {
    width: 550px;
    height: 550px;
    border-radius: 550px;
    opacity: 0.2;
    background: linear-gradient(
      180deg,
      #82cab0 0%,
      rgba(130, 202, 176, 0) 100%
    );
    filter: blur(125px);
    position: absolute;
    top: 30%;
    right: 40px;
  }
  .testimonial__blurLeft {
    width: 450px;
    height: 400px;
    border-radius: 550px;
    opacity: 0.2;
    background: linear-gradient(
      180deg,
      rgba(249, 112, 102, 0.64) 0%,
      rgba(88, 214, 170, 0.14) 100%
    );
    filter: blur(125px);
    position: absolute;
    top: 30%;
    left: 80px;
    z-index: 1;
  }
   .testimonialBg {
    margin-left: 0px;
    position: relative;
    height: 490px;
    width: 598px;
  }
}

@media screen and (min-width: 1500px) {
  .testimonial__blurLeft {
    left: 200px;
  }
  .testimonial__blurRight {
    /* left: 65rem; */
    right: 200px;
  }
}




/* Start of mobile testimonial  */
@media screen and (max-width: 768px){
  .testimonial__headerDiv {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
   .testimonial_div {
    justify-content: center !important;
    width: 100%;
  }
  .testimonial-divOne{
    width: 350px !important;
    height: 500px !important;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #669b893b;
    background: none;
  }
  .testimonial__content{
    /* width: 300px !important; */
    height: 500px !important;
    top: 22px !important;
    left: 28px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 15px !important;
    padding-bottom: 40px !important;
    
    
    /* background: yellow; */
  }
  .testimonial__paragraphTwo-div{
    width: 350px !important;
    height: 500px !important;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #669b893b;
    background: none;
  }
}