.testimonial {
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: #121514;
  color: white;
  padding-top: 160px;
  gap: 47px;
  padding-bottom: 160px;
}

.testimonial__headerDiv {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.testimonial__headerText {
  width: 482px;
}

.testimonial_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.testionial_ellipse {
  position: absolute;
  /* left: 0px; */
  background-image: url('../../../assets/TestimonialEllipse.svg');
  width: 550px;
  height: 550px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.testionial_greenEllipse {
  position: absolute;
  /*justify-self: flex-end;
  align-self:flex-start;
  */ /*left: 32rem;
  */
  right: 0px;
  background-image: url('../../../assets/greenEllipse.png');
  /*background-repeat: no-repeat;
  */
  width: 660px;
  height: 550px;
  /*z-index: -30px;
  */ /*background-size: cover;
  */
}

.testimonial-divOne {
  position: relative;
  margin-top: 64px;
  /*padding: 48px;
  */ /*margin-left: 55px;
  */
}

.testimonial__paragraphTwo-div {
  position: relative;
  z-index: 80px;
}

.testimonial__content {
  position: absolute;
  top: 48px;
  left: 48px;
  /* padding: 48px; */
}

.testimonialBg {
  /* margin-left: 24px; */
  position: relative;
  height: 360px;
  width: 558px;
}

.testimonial__quoteImg {
  width: 57px;
  height: 50px;
}

.testimonial__paragraph {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding-top: 48px;
  padding-bottom: 80px;
  /* padding-left: 48px; */
  max-width: 420px;
  color: #98a2b3;
}

.testimonial__paragraphTwo {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding-top: 48px;
  padding-bottom: 24px;
  z-index: 30px;
  max-width: 420px;
  color: #98a2b3;
}
.testimonial__paragraphThree {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding-top: 48px;
  padding-bottom: 24px;
  max-width: 420px;
  color: #98a2b3;
}

.testimonial__userName {
  font-size: 20px;
}

@media (min-width: 100px) {
  .testimonial {
    flex-direction: column;
    justify-items: center;
    /* width: 100%; */
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 0px !important;
  }
  .testimonial__headerText {
    width: 330px;
  }
  .testimonial__quoteImg {
    width: 37px;
    height: 30px;
  }
  .testionial_ellipse {
    display: none;
  }
  .testimonial-divOne {
    margin-top: 30px;
  }
  .testimonial__content {
    top: 48px;
    left: 68px;
  }
  .testimonial__paragraph {
    padding-bottom: 40px;
    width: 65%;
  }
  .testimonial__paragraphTwo {
    width: 85%;
  }
  .testimonial__paragraphThree {
    width: 85%;
  }
  .testimonialBg {
    margin-left: 24px;
    position: relative;
    height: 360px;
    max-width: 90% !important;
  }
}

@media (min-width: 576px) {
  .testimonial {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    /* width: 100%; */
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 0px !important;
  }
  .testimonial__headerText {
    width: 530px;
  }
  .testimonial__quoteImg {
    width: 37px;
    height: 30px;
  }
  .testionial_ellipse {
    display: none;
  }
  .testimonial-divOne {
    margin-top: 30px;
  }
  .testimonial__content {
    top: 48px;
    left: 68px;
  }
  .testimonial__paragraph {
    padding-bottom: 40px;
    width: 85%;
  }
  .testimonial__paragraphTwo {
    width: 85%;
  }
  .testimonial__paragraphThree {
    width: 85%;
  }
  .testimonialBg {
    margin-left: 24px;
    position: relative;
    height: 360px;
    max-width: 90% !important;
  }
}
@media screen and (min-width: 768px) {
  .testimonial {
    /* flex-direction: row;
    justify-items: center;
    gap: 0px; */
    flex-direction: column;
    justify-items: center;
    /* width: 100%; */
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 0px !important;
  }
  .testimonial__headerText {
    width: 530px;
  }
  .testimonial__quoteImg {
    width: 37px;
    height: 30px;
  }
  .testionial_ellipse {
    display: none;
  }
  .testimonial-divOne {
    margin-top: 30px;
  }
  .testimonial__content {
    top: 48px;
    left: 68px;
  }
  .testimonial__paragraph {
    padding-bottom: 40px;
    width: 65%;
  }
  .testimonial__paragraphTwo {
    width: 85%;
  }
  .testimonial__paragraphThree {
    width: 85%;
  }
  .testimonialBg {
    margin-left: 24px;
    position: relative;
    height: 360px;
    max-width: 90%;
  }
}
@media (min-width: 992px) {
  .testimonial {
    display: flex;
    align-items: start;
    flex-direction: row;
    justify-content: center;
    background-color: #121514;
    color: white;
    padding-top: 160px;
    gap: 0px;
    padding-bottom: 160px;
  }

  .testimonial__headerDiv {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .testimonial__headerText {
    width: 482px;
  }

  .testimonial_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 40px;
  }

  .testionial_ellipse {
    position: absolute;
    /* left: 0px; */
    background-image: url('../../../assets/TestimonialEllipse.svg');
    width: 550px;
    height: 550px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }

  .testionial_greenEllipse {
    position: absolute;
    /*justify-self: flex-end;
  align-self:flex-start;
  */ /*left: 32rem;
  */
    right: 0px;
    background-image: url('../../../assets/greenEllipse.png');
    /*background-repeat: no-repeat;
  */
    width: 660px;
    height: 550px;
    /*z-index: -30px;
  */ /*background-size: cover;
  */
  }

  .testimonial-divOne {
    position: relative;
    margin-top: 64px;
    /*padding: 48px;
  */ /*margin-left: 55px;
  */
  }

  .testimonial__paragraphTwo-div {
    position: relative;
    z-index: 80px;
  }

  .testimonial__content {
    position: absolute;
    top: 48px;
    left: 48px;
    /* padding: 48px; */
  }

  .testimonialBg {
    margin-left: 0px;
    position: relative;
    height: 360px;
    width: 558px;
  }

  .testimonial__quoteImg {
    width: 57px;
    height: 50px;
  }

  .testimonial__paragraph {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding-top: 48px;
    padding-bottom: 80px;
    /* padding-left: 48px; */
    max-width: 420px;
    color: #98a2b3;
  }

  .testimonial__paragraphTwo {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding-top: 48px;
    padding-bottom: 24px;
    z-index: 30px;
    max-width: 420px;
    color: #98a2b3;
  }
  .testimonial__paragraphThree {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding-top: 48px;
    padding-bottom: 24px;
    max-width: 420px;
    color: #98a2b3;
  }

  .testimonial__userName {
    font-size: 20px;
  }
}

@media screen and (min-width: 1500px) {
  .testionial_greenEllipse {
    /* left: 65rem; */
    right: unset;
  }
}
