.home__tradeCrypto {
  background-color: #121514;
  padding-top: 200px;
}
.home__tradeCrypto-paragraph {
  /* display: flex;
    align-items: center;
    justify-content: center; */
  /* margin: auto; */
  padding-bottom: 48px;
  /* width: 45vw; */
}
.home__featureCard1 {
  background-image: linear-gradient(to bottom, #0d100ffd, #0d100ffd),
    url('../../../assets/Texture.png');
  /* background: url('../../../assets/Texture.png'), lightgray 0% 0% / 60.90909242630005px 60.90909242630005px no-repeat; */
  padding-top: 120px;
  padding-bottom: 120px;
  color: white;
}
.home__featureCard2 {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #121514;
  color: white;
}

@media screen and (max-width: 576px) {
  .home__tradeCrypto {
    padding-top: 50px !important;
  }
  .home__featureCard1 {
    background-image: linear-gradient(to bottom, #0d100ffd, #0d100ffd),
      url('../../../assets/Texture.png');
    /* background: url('../../../assets/Texture.png'), lightgray 0% 0% / 60.90909242630005px 60.90909242630005px no-repeat; */
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
  }
  .home__featureCard2 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #121514;
    color: white;
  }
}
@media screen and (min-width: 100px) {
  .home__tradeCrypto-paragraph {
    padding-left: 0px;
  }
  .home__featureCard1 {
    padding-left: 0px;
  }
  .home__featureCard2 {
    padding-left: 0px;
  }
}
@media screen and (min-width: 768px) {
  .home__tradeCrypto-paragraph {
    padding-left: 50px;
  }
  .home__featureCard1 {
    padding-left: 50px;
  }
  .home__featureCard2 {
    padding-left: 50px;
  }
}
@media screen and (max-width: 992px) {
  .home__tradeCrypto {
    padding-top: 130px;
  }
}

@media screen and (min-width: 992px) {
  .home__tradeCrypto-paragraph {
    /* display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin: auto; */
    padding-bottom: 48px;
    /* width: 45vw; */
  }
  .home__featureCard1 {
    padding-left: unset;
  }
  .home__featureCard2 {
    padding-left: unset;
  }
  .home__tradeCrypto-paragraph {
    padding-left: unset;
  }
}

@media screen and (max-width: 1200px) {
}
