.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0e1110;
  color: white;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 999;
}
.navbar__navOne {
  display: flex;
  align-items: center;
}
.navbar__logo {
  width: 99px;
  height: 31px;
}
.navbar__navItems {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 50px;
}
.navbar__navItems-link {
  color: white !important;
  text-decoration: none;
}
.navbar__navTwo {
  display: flex;
  align-items: center;
}

.navbar__navTwo-lang {
  margin-right: 32px;
}

@media (max-width: 992px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar__navItems,
  .navbar__navTwo-btn {
    display: none;
  }
}
/* @media (max-width: 992px) {
  .navbar__navTwo-Menubtn {
    display: none;
  }
} */
@media (min-width: 992px) {
  .navbar__navTwo-Menubtn {
    display: none;
  }
}
