.navbar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  font-size: 14px;
  position: sticky;
  top: 0;
  left: 0;
  /* border-bottom: 1px solid grey; */
  z-index: 999px;
  /* background: black; */
  background-image: linear-gradient(55deg, black, black, black, black,#82cab0 #82cab0, black);
}
.navbar_wrapper .left_navItems {
  display: flex;
  align-items: center;
  gap: 50px;
}
.navbar_wrapper .right_navItems {
  display: flex;
  align-items: center;
  gap: 50px;
}
.navbar_wrapper .right_navItems .right_navItems_left {
  display: flex;
  align-items: center;
  gap: 8px;
}
.navbar_wrapper .right_navItems_right button {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #217457;
  background: #217457;
  color: #fff;
}
