.help_wrapper {
  color: #fff;
  padding-top: 180px;
  font-family: "Degular Light";
  max-width: 74rem;
  margin: 0 auto;
}
.help_wrapper .top_text {
  text-align: center;
  position: relative;
}
.help_wrapper .top_text .blurRight {
  width: 550px;
  height: 550px;
  border-radius: 550px;
  opacity: 0.2;
  background: linear-gradient(180deg, #82cab0 0%, rgba(130, 202, 176, 0) 100%);
  filter: blur(125px);
  position: absolute;
  top: -157px;
  left: 689px;
}
.help_wrapper .top_text .contact_us {
  color: #2fa67c;
  font-size: 16px;
  font-family: Degular;
}
.help_wrapper .top_text .get_in_touch {
  font-size: 48px;
  font-family: Degular;
}
.help_wrapper .top_text .always_available{
  font-size: 20px;
}
.help_wrapper .help_map {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.help_map img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.help_map .map_green {
  display: none;
}

.help_map:hover .map_grey {
  display: none;
}

.help_map:hover .map_green {
  display: block;
}

.help_wrapper .help_card_wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 55rem;
  position: relative;
}
.help_wrapper .help_card {
  position: relative;
}
.help_wrapper .help_card_wrapper .help_card_text {
  position: absolute;
  top: 0;
  padding: 48px;
}
.help_wrapper .help_card_wrapper .help_card_text .help_card_words {
  margin-top: 48px;
}
.help_wrapper .help_card_text .help_card_words .help_card_words_bold {
  font-size: 24px;
  font-family: Degular;
}
.help_wrapper .help_card_text .help_card_words  .help_card_words_paragraph{
  font-size: 18px;
  margin-top: 8px;
}
.help_wrapper .help_card_text .help_card_words .help_card_words_button {
  margin-top: 38px;
  padding: 0px 24px;
  border-radius: 16px;
  border: none;
  width: 285px;
  height: 45px;
  text-align: left;
  background: linear-gradient(45deg, #101828, #475467);
  color: #fff;
  font-size: 18px;
  font-family: Degular Light;
}
.help_wrapper .help_card_text .help_card_words .help_card_words_button a {
  text-decoration: none;
  color: #fff;
}
.help_wrapper .help_card_text .help_card_words .icons {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.help_wrapper .help_card_faqs {
  margin: 200px 0;
  margin-bottom: 300px;
}
.help_wrapper .help_card_faqs .faq_header {
  font-size: 38px;
  font-family: Degular;
  margin: 50px 0;
}
.help_wrapper .help_card_faqs .faq_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.help_wrapper .help_card_faqs .faq_item_container {
  margin: 10px 0;
  cursor: pointer;
  font-size: 20px;
}
.help_wrapper .help_card_faqs .faq_item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-family: Degular;
  /* background-color: red; */
}
.help_wrapper .help_card_faqs .faq_item_container .faq_item_answer {
  color: rgba(252, 252, 253, 1);
  max-width: 450px;
}
@media screen and (max-width: 768px) {
  .help_wrapper .help_card_wrapper {
    flex-direction: column;
    margin-top: 23rem;
  }
  .faq_item_container {
    width: calc(100% - 20px);
  }
  .help_wrapper .help_card_wrapper .help_card .help_card_background {
    width: 330px;
  }
  .help_wrapper .help_card_text .help_card_words .help_card_words_button {
    margin-top: 12px;
    width: 200px;
  }
  .help_wrapper .help_card_wrapper .help_card_text {
    padding: 30px;
  }
  .help_wrapper .help_card_text .help_card_words .icons {
    margin-top: 20px;
  }
  .help_wrapper .help_card_faqs{
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .help_wrapper .help_card_faqs .faq_wrapper {
  display: block;
}
.help_wrapper .help_card_faqs .faq_item_container{
    width: 100%;
}
.help_wrapper .help_card_faqs{
    padding: 20px;
}
.help_wrapper .top_text .blurRight {
  width: 250px;
    height: 250px;
    top: -210px;
    left: 72px;
    opacity: 0.8;
}
.help_wrapper .help_card_wrapper .blurRight{
  width: 250px;
    height: 250px;
    top: 60px;
    left: 72px;
    opacity: 0.8;
}

}
