.Hero {
  position: relative;
  padding-top: 70px;
  /* border: 1px solid red; */
  background: url(../../../assets/Texture.png);
  background-color: #121514;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 150px;
}
.Appbottom {
  margin-bottom: 300px;
}
.top {
  max-width: 1200px;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 180px;
  margin-top: 50px;
  z-index: 2;
  margin-left: -100px;
  /* padding: 100px 0; */
  /* background: red; */
}
.margintop {
  margin-top: 280px;
}
.fixedtop {
  position: sticky;
  top: 100px;
  left: 0;
  right: 0;
}
/* .left {
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
} */
.blurLeft {
  width: 550px;
  height: 550px;
  border-radius: 550px;
  opacity: 0.2;
  background: linear-gradient(
    180deg,
    rgba(249, 112, 102, 0.64) 0%,
    rgba(88, 214, 170, 0.14) 100%
  );
  filter: blur(125px);
  position: absolute;
  top: 280px;
  left: 0;
}
.blurLeftText {
  max-width: 618px;
  font-size: 48px;
  line-height: 63px;
}
.leftTextSpan {
  background: linear-gradient(96deg, #2ae884 0.28%, #e0e9e6 97.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  transition: opacity 1s ease;
}
.leftTextSpan.fade {
  opacity: 0;
}
.leftTextSpanOne {
  display: block;
}
.right {
  position: relative;
}
.blurRightText {
  max-width: 405px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  font-family: "Degular Light" !important;
  /* color: transparent; */
}
.blurRight {
  width: 550px;
  height: 550px;
  border-radius: 550px;
  opacity: 0.2;
  background: linear-gradient(180deg, #82cab0 0%, rgba(130, 202, 176, 0) 100%);
  filter: blur(125px);
  position: absolute;
  top: -177px;
  left: -89px;
}
.bottom {
  margin-top: -250px;
  position: relative;
  transform-style: preserve-3d;
  /* transform: translateX(200px); */
  display: block;
}
.hero_bottom_mobile {
  display: none;
}
.bottomfixed {
  position: fixed;
  left: 50px;
  right: 50px;
  top: 220px;
}
.scrollbottom {
  margin-top: -220px;
}
.media_logo {
  /* background-color: red; */
  padding: 20px;
  position: absolute;
  bottom: 40%;
  left: -37%;
  display: flex;
  gap: 20px;
  z-index: 2;
  transform: translateY(50px);
}
.logo-img {
  text-align: center;
  transform-origin: 50% 50%;
  transform: rotateY(10deg) rotateX(60deg) rotateZ(-35deg);
  position: relative;
  width: 738px;
  margin: 0 auto;
  z-index: 5;
  /* background: red; */
}

.logo-img-wrapper {
  margin: 0 auto;
  /* width: 90%; */
  /* padding-left: 50px; */
}
.bottom_small_left_logo {
  position: absolute;
  top: 25%;
  left: -15%;
  transform: translateY(0px) translateX(0px);
}
.top_small_right_logo {
  position: absolute;
  right: 25%;
  top: 10%;
  transform: translateX(100px);
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
}
.top_small_right_orange_logo {
  position: absolute;
  right: -17%;
  top: 76%;
  transform: translateX(-100px);
  -webkit-transform: translateX(-100px);
  -moz-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  -o-transform: translateX(-100px);
}
.bottom_small_right_logo {
  position: absolute;
  bottom: 55%;
  right: 0%;
  transform: translateX(-200px);
  /* background: red; */
}
.Hero .fade {
  opacity: 0.1;
  transition: opacity 0.5s ease;
}
.redbox {
  height: 200px;
  background-color: #121514;
}
@media only screen and (min-width: 768px) and (max-width: 1270px) {
  .top {
    margin-left: 20px;
  }
  .logo-img {
    min-height: none;
    min-width: none;
  }
  .logo-img img {
    width: 550px;
  }
  .media_logo {
    left: -5%;
  }
  .media_logo img {
    width: 100px;
  }
  .bottom {
    margin-top: -100px;
  }
  .bottom_small_left_logo {
    left: 5%;
    top: 10%;
  }
  .top_small_right_logo {
    right: 35%;
    top: -10%;
  }
  .top_small_right_orange_logo {
    right: -5%;
    top: 97%;
  }
}
@media screen and (max-width: 768px) {
  .Hero {
    padding: 10px;
    height: 820px;
    padding-top: 0px;
    gap: 40px;
  }
  .top {
    /* padding: -3px 15px; */
    padding-top: 95px;
    flex-direction: column;
    gap: 16px;
    margin-left: 0px;
    align-items: flex-start;
  }

  .blurLeftText {
    font-size: 48px;
    line-height: 64px;
  }
  .logo-img {
    min-height: none;
    min-width: none;
    width: fit-content;
  }
  .bottom {
    margin-top: 0px;
    display: none;
  }
  .hero_bottom_mobile {
    display: block;
    position: relative;
  }
  .hero_mobile_logo-img {
    margin: 0 auto;
  }
  .hero_mobile_logo-img img {
    /* margin-left: 30px; */
    width: 320px;
  }
  .logo-img img {
    width: 260px;
  }
  .left {
    font-size: 36px;
    line-height: 44px;
  }
  .right {
    font-size: 16px;
  }
  .hero_mobile_media_logo {
    margin: 20px auto;
    display: flex;
    gap: 20px;
  }
  .hero_mobile_media_logo img {
    width: 150px;
  }
  .media_logo {
    bottom: -15%;
  }
  .media_logo img {
    width: 150px;
  }
  .bottom_small_left_logo {
    top: 10%;
  }

  .hero_mobile_purple_icon {
    /* border: 2px solid red; */
    /* width: 40px; */
    position: absolute;
    top: 10%;
    /* left: 5%; */
    /* transform: translateY(0px) translateX(0px); */
  }
  .hero_mobile_purple_icon img {
    width: 40px;
  }
  .hero_mobile_green_icon {
    /* border: 2px solid blue; */
    position: absolute;
    right: 10%;
    top: -10%;
  }
  .hero_mobile_green_icon img {
    width: 40px;
  }
  .hero_mobile_orange_icon {
    /* border: 2px solid green; */
    position: absolute;
    right: 10%;
    bottom: 40%;
  }
  .hero_mobile_orange_icon img {
    width: 40px;
  }
  .hero_mobile_greenarrow_icon {
    /* border: 2px solid yellowgreen; */
    position: absolute;
    left: 35%;
    bottom: 22%;
  }
  .hero_mobile_greenarrow_icon img {
    width: 40px;
  }
  .top_small_right_logo {
    right: 28%;
    top: -5%;
  }
  .top_small_right_logo img {
    width: 40px;
  }
  .bottom_small_right_logo {
    bottom: 7%;
    right: 10%;
  }
  .bottom_small_right_logo img {
    width: 40px;
  }
  .top_small_right_orange_logo {
    display: none;
  }
  .redbox {
    display: none;
  }
  .blurLeft {
    width: 250px;
    height: 250px;
  }
  .blurRight {
    width: 250px;
    height: 250px;
    top: -210px;
    left: 72px;
    opacity: 0.8;
  }
}
@media screen and (min-width: 1024px) {
  /* .logo-img {
    min-width: 886px;
    min-height: 963px;
  } */
}

@media screen and (min-width: 979px) and (max-width: 1200px) {
  .blurLeft {
    width: 450px;
    height: 450px;
  }
  .blurRight {
    width: 450px;
    height: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  .blurLeft {
    width: 350px;
    height: 350px;
  }
  .blurRight {
    width: 350px;
    height: 350px;
  }
}
