.Hero {
  /* height: 1223px; */
  position: relative;
  padding: 50px;
  background-image: linear-gradient(to bottom, #0d100ffd, #0d100ffd),
    url("../../../assets/Texture.png");
  color: #fff;
  /* max-width: 1170px; */
}
.Appbottom {
  margin-bottom: 300px;
}
.top {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 166px;
  margin-top: 50px;
  /* padding: 100px 0; */
  /* background: red; */
}
.margintop {
  margin-top: 280px;
}
.fixedtop {
  position: sticky;
  top: 100px;
  left: 0;
  right: 0;
}
.left {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.right {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.bottom {
  margin-top: -250px;
  position: relative;
  transform-style: preserve-3d;
  /* transform: translateX(200px); */
}
.bottomfixed {
  position: fixed;
  left: 50px;
  right: 50px;
  top: 220px;
}
.scrollbottom {
  margin-top: -220px;
}
.media_logo {
  /* background-color: red; */
  padding: 20px;
  position: absolute;
  bottom: 40%;
  left: 3%;
  display: flex;
  gap: 20px;
  transform: translateY(50px);
}
.logo-img {
  text-align: center;
  transform-origin: 50% 50%;
  transform: rotateY(10deg) rotateX(60deg) rotateZ(-35deg);
  position: relative;
  /* z-index: 2; */
  /* background: red; */
}
.logo-img-wrapper{
   width:90%;
   /* padding-left: 50px; */
}
.bottom_small_left_logo {
  position: absolute;
  top: 25%;
  left: 5%;
  transform: translateY(0px) translateX(0px);
}
.top_small_right_logo {
  position: absolute;
  right: 25%;
  top: 10%;
  transform: translateX(100px);
}
.bottom_small_right_logo {
  position: absolute;
  bottom: 45%;
  right: 15%;
  transform: translateX(-150px);
  /* background: red; */
}
.redbox {
  height: 200px;
  background-color: #121514;
}
@media screen and (max-width: 768px) {
  .Hero {
    padding: 10px;
    height: 1200px;
  }
  .top {
    flex-direction: column;
    gap: 20px;
  }
  .margintop {
    margin-top: 400px;
  }
  /* .fixedtop {
  position: sticky;
  top: 100px;
  left: 0;
  right: 0;
} */
.bottom{
  margin-top: 0px;
}
  .bottomfixed {
    top: 300px;
    left: 0px;
    right: -20px;
  }
  .logo-img img {
    width: 317px;
  }
  .left {
    font-size: 15px;
  }
  .right {
    font-size: 16px;
  }
  .Appbottom {
    margin-bottom: 0px;
  }
  .media_logo {
    bottom: -8%;
    left: 8%;
  }
  .bottom_small_left_logo {
    top: 10%;
  }
  .top_small_right_logo {
    right: 28%;
    top: -5%;
  }
  .bottom_small_right_logo {
    bottom: 5%;
    right: 10%;
  }
  .scrollbottom {
    margin-top: -60px;
    /* left: -10px; */
  }
  .redbox {
    display: none;
  }
}
