.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-style: normal;
  font-weight: bolder;
  line-height: 20px;
  height: 50px;
  /* padding: 8px 14px; */
  color: white;
  background-color: #217457;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
