.getStarted {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.getStarted__div-border {
  padding: 0.6px;
  border-radius: 32px;
  backdrop-filter: blur(90.09677124023438px);
  background: linear-gradient(to right, #ffffff2d, #58d6aa37);
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.getStarted__div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151817;
  border-radius: 32px;
  height: 486px;
  /* position: absolute; */
}

.getStarted__divOne {
  padding-left: 80px;
}

.getStarted__introduction {
  display: flex;
  gap: 8px;
  color: #2fa67c;
  margin-bottom: 8px;
}

.getStarted__introduction-img {
  width: 16px;
  height: 16px;
}

.getStarted__introduction-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.getStarted__header {
  width: 580px;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
}

.getStarted__paragraph {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 48px;
  color: #98a2b3;
}

.getStarted__paragraph-sub {
  margin-top: 30px;
}

.getStarted__store {
  display: flex;
  gap: 24px;
}

.getStarted__googlePlay,
.getStarted__applePlay {
  width: 132px;
  height: 44px;
}
.getStarted__image {
  position: relative;
  top: -32px;
  width: 557px;
  height: 552px;
  padding-right: 37px;
}

@media (min-width: 100px) {
  .getStarted {
    flex-direction: column;
    width: 92%;
    margin: auto;
    /* justify-items: center; */
    /* margin-left: 15px; */
    /* margin-right: 15px; */
  }
  .getStartedBorder {
    width: 390px;
  }
  .getStarted__div {
    flex-direction: column;
  }
  .getStarted__paragraph {
    margin-left: 24px;
    width: 90%;
  }
  .getStarted__header {
    margin-left: 24px;
    font-size: 36px;
    line-height: 44px;
    width: 315px;
  }
  .getStarted__image {
    position: relative;
    top: 47px;
    width: 323px;
    height: 355px;
    padding-right: 0px;
  }
  .getStarted__introduction {
    margin-left: 24px;
  }
  .getStarted__introduction-text {
    font-size: 16px;
  }
  .getStarted__introduction-img {
    width: 14px;
    height: 14px;
  }
  .getStarted__divOne {
    padding-left: 0px;
  }
  .getStarted__googlePlay {
    width: 135px;
    height: 44px;
    margin-left: 19px;
  }

  .getStarted__applePlay {
    width: 135px;
    height: 44px;
    /* margin-left: 4px; */
  }
  .getStarted__div-border {
    background: linear-gradient(to right, #ffffff2d, #58d6aa37);
    background-size: cover;
  }
  .getStarted__div {
    height: 800px;
  }
}

@media (min-width: 576px) {
  .getStarted {
    flex-direction: column;
    width: 95%;
    margin: auto;
    /* justify-items: center; */
    /* margin-left: 24px; */
    /* margin-right: 34px; */
  }
  .getStartedBorder {
    width: 390px;
  }
  .getStarted__div {
    flex-direction: column;
  }
  .getStarted__paragraph {
    margin-left: 24px;
    width: 90%;
  }
  .getStarted__header {
    margin-left: 24px;
    font-size: 36px;
  }
  .getStarted__image {
    position: relative;
    top: 48px;
    width: 323px;
    height: 355px;
    padding-right: 0px;
  }
  .getStarted__introduction {
    margin-left: 24px;
  }
  .getStarted__introduction-text {
    font-size: 16px;
  }
  .getStarted__introduction-img {
    width: 14px;
    height: 14px;
  }
  .getStarted__divOne {
    padding-left: 0px;
  }
  .getStarted__googlePlay,
  .getStarted__applePlay {
    width: 135px;
    height: 44px;
    margin-left: 24px;
  }
  .getStarted__div-border {
    background: linear-gradient(to right, #ffffff2d, #58d6aa37);
    background-size: cover;
  }
  .getStarted__div {
    height: 800px;
  }
}
@media (min-width: 768px) {
  .getStarted {
    flex-direction: column;
    width: 95%;
    margin: auto;
    /* justify-items: center; */
    /* margin-left: 24px; */
    /* margin-right: 34px; */
  }
  .getStarted__div {
    flex-direction: column;
    height: 962px;
  }
  .getStarted__paragraph {
    margin-left: 24px;
    width: 90%;
  }
  .getStarted__header {
    margin-left: 24px;
    font-size: 36px;
  }
  .getStarted__image {
    position: relative;
    top: 48px;
    width: 557px;
    height: 552px;
    padding-right: 0px;
  }
  .getStarted__introduction {
    margin-left: 24px;
  }
  .getStarted__introduction-text {
    font-size: 16px;
  }
  .getStarted__introduction-img {
    width: 14px;
    height: 14px;
  }
  .getStarted__divOne {
    padding-left: 0px;
  }
  .getStarted__googlePlay,
  .getStarted__applePlay {
    width: 135px;
    height: 44px;
    margin-left: 24px;
  }
  .getStarted__div-border {
    background: linear-gradient(to right, #ffffff2d, #58d6aa37);
    background-size: cover;
  }
}
@media (min-width: 992px) {
  /* .getStartedBorder{
    width: 690px
    height: 1289px
    background-color: red;
  } */
  .getStarted__div {
    padding-top: 30px;
    padding-left: 0px;
    flex-direction: column;
    height: 962px;
  }
  .getStarted__divOne {
    padding-left: 0px;
  }
  .getStarted__image {
    position: relative;
    top: 30px;
    width: 557px;
    height: 552px;
    padding-right: 0px;
  }
}
@media (min-width: 1200px) {
  .getStarted {
    /* display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center; */
    max-width: 73rem;
    margin: 0 auto;
    position: relative;
  }

  .getStarted__div-border {
    padding: 0.6px;
    border-radius: 32px;
    backdrop-filter: blur(90.09677124023438px);
    background: linear-gradient(to right, #ffffff2d, #58d6aa37);
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
  }

  .getStarted__div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #151817;
    border-radius: 32px;
    height: 486px;
    /* position: absolute; */
  }

  .getStarted__divOne {
    padding-left: 30px;
  }

  .getStarted__introduction {
    display: flex;
    gap: 8px;
    color: #2fa67c;
    /* margin-bottom: 24px; */
  }

  .getStarted__introduction-img {
    width: 16px;
    height: 16px;
  }

  .getStarted__introduction-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }

  .getStarted__header {
    width: 580px;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
  }

  .getStarted__paragraph {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 48px;
    width: 90%;
    color: #98a2b3;
  }

  .getStarted__paragraph-sub {
    margin-top: 30px;
  }

  .getStarted__store {
    display: flex;
    gap: 24px;
  }

  .getStarted__googlePlay,
  .getStarted__applePlay {
    width: 132px;
    height: 44px;
  }
  .getStarted__image {
    position: relative;
    top: -32px;
    width: 557px;
    height: 552px;
    padding-right: 37px;
  }
}
