.getStarted {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  color: white;
}

/* .getStarted__div-border {
  padding: 0.6px;
  border-radius: 32px;
  backdrop-filter: blur(90.09677124023438px);
  background: linear-gradient(to right, #ffffff2d, #58d6aa37);
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
} */

.getStarted__div {
  position: absolute;
  position: absolute;
  top: 0;
  height: 486px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #151817; */
  border-radius: 32px;
}

.getStarted__divOne {
  padding-left: 80px;
}

.getStarted__introduction {
  display: flex;
  gap: 8px;
  color: #2fa67c;
  margin-bottom: 8px;
}

.getStarted__introduction-img {
  width: 16px;
  height: 16px;
}

.getStarted__introduction-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.getStarted__header {
  width: 580px;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
}

.getStarted__paragraph {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 28px;
  color: white;
}

.getStarted__paragraph-sub {
  margin-top: 20px;
}

.getStarted__store {
  display: flex;
  gap: 24px;
}

.getStarted__googlePlay,
.getStarted__applePlay {
  width: 132px;
  height: 44px;
}
.getStarted__image {
  position: relative;
  top: -32px;
  width: 557px;
  height: 552px;
  padding-right: 37px;
}

.getStartedBorder {
  position: relative;
}

@media (min-width: 100px) {
  .getStarted {
    position: relative;
    align-items: center;
    flex-direction: column;
    /* padding-left: 15px; */
    /* width: 90%;  */
    margin: auto;
    /* justify-items: center; */
    /* margin-left: 15px; */
    /* margin-right: 15px; */
  }
  .getStarted__div {
    position: absolute;
    top: 0;
    flex-direction: column;
    background-color: #151817;
    height: 760px;
    width: 92%;
    /* width: 480px; */
  }
  .getStarted__paragraph {
    margin-left: 15px;
    max-width: 90%;
    height: 190px;
  }
  .getStarted__header {
    margin-left: 15px;
    font-size: 36px;
    line-height: 44px;
    width: 315px;
  }
  .getStarted__image {
    position: relative;
    /* left:10px; top: 23px;
    width: 323px;
    height: 355px;*/
    top: 35px;
    width: 293px;
    height: 335px;
    padding-right: 0px;
  }
  .getStarted__introduction {
    margin-left: 15px;
  }
  .getStarted__introduction-text {
    font-size: 16px;
  }
  .getStarted__introduction-img {
    width: 14px;
    height: 14px;
  }
  .getStarted__divOne {
    padding-left: 0px;
  }
  .getStarted__googlePlay {
    width: 135px;
    height: 44px;
    margin-left: 15px;
  }

  .getStarted__applePlay {
    width: 135px;
    height: 44px;
    /* margin-left: 4px; */
  }
  .getStarted__paragraph-sub {
    margin-top: 0px;
  }

  .getStarted__div-border {
    padding: 0.6px;
    border-radius: 32px;
    background: linear-gradient(to right, #ffffff2d, #58d6aa37);
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    /* width: 480px; */
    height: 760px;
    width: 92%;
  }
  .getStartedBorder {
    display: none;
  }
}

@media (min-width: 576px) {
  .getStarted {
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    /* padding-left: 0px; */
    /* justify-items: center; */
    /* margin-left: 24px; */
    /* margin-right: 34px; */
  }
  .getStarted__div {
    position: absolute;
    top: 0;
    flex-direction: column;
    background-color: #151817;
    /* width: 480px; */
    width: 95%;
    height: 800px;
  }
  .getStarted__paragraph {
    margin-left: 24px;
    height: 120px;
    width: 95%;
  }
  .getStarted__header {
    margin-left: 24px;
    font-size: 36px;
  }
  .getStarted__image {
    position: relative;
    top: 46px;
    left: unset;
    width: 427px;
    height: 422px;
    /* width: 323px;
    height: 355px; */
    padding-right: 0px;
  }
  .getStarted__introduction {
    margin-left: 24px;
  }
  .getStarted__introduction-text {
    font-size: 16px;
  }
  .getStarted__introduction-img {
    width: 14px;
    height: 14px;
  }
  .getStarted__divOne {
    padding-left: 20px;
  }
  .getStarted__paragraph-sub {
    margin-top: 20px;
  }
  .getStarted__googlePlay {
    width: 135px;
    height: 44px;
    margin-left: 24px;
  }
  .getStarted__applePlay {
    width: 135px;
    height: 44px;
    /* margin-left: 24px; */
  }
  .getStarted__div-border {
    padding: 0.6px;
    border-radius: 32px;
    background: linear-gradient(to right, #ffffff2d, #58d6aa37);
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    /* width: 480px; */
    width: 95%;
    height: 800px;
  }

  .getStartedBorder {
    display: none;
  }

  .getStarted__div {
    position: absolute;
    top: 0;
    /* height: 800px; */
  }
}
@media (min-width: 768px) {
  .getStarted {
    position: relative;
    flex-direction: column;
    /* width: 75%; */
    margin: 0 auto;
    align-items: unset;
    /* justify-items: center; */
    /* margin-left: 24px; */
    /* margin-right: 34px; */
  }
  .getStartedBorder {
    display: none;
  }
  .getStarted__div {
    position: absolute;
    top: 0;
    flex-direction: column;
    background-color: #151817;
    height: 902px;
  }
  .getStarted__paragraph {
    margin-left: 24px;
    margin-bottom: 30px;
    height: unset;
    width: 90%;
  }
  .getStarted__header {
    margin-left: 24px;
    font-size: 36px;
  }
  .getStarted__image {
    position: relative;
    top: 45px;
    width: 507px;
    height: 502px;
    padding-right: 0px;
  }
  .getStarted__introduction {
    margin-left: 24px;
  }
  .getStarted__introduction-text {
    font-size: 16px;
  }
  .getStarted__introduction-img {
    width: 14px;
    height: 14px;
  }
  .getStarted__divOne {
    padding-left: 30px;
  }
  .getStarted__googlePlay {
    width: 135px;
    height: 44px;
    margin-left: 24px;
  }
  .getStarted__applePlay {
    width: 135px;
    height: 44px;
    /* margin-left: 24px; */
  }
  .getStarted__div-border {
    padding: 0.6px;
    border-radius: 32px;
    background: linear-gradient(to right, #ffffff2d, #58d6aa37);
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    /* width: 75%; */
    height: 902px;
  }

  /* .getStarted__div-border {
    background: linear-gradient(to right, #ffffff2d, #58d6aa37);
    background-size: cover;
  } */
}
@media (min-width: 992px) {
  .mobileScreenGetStarted {
    display: none;
  }
  .getStarted {
    align-items: center;
    width: unset;
    /* position: relative; */
    /* flex-direction: row; */
  }
  .getStartedBorder {
    display: block;
    /* position: relative; */
    width: 60rem;
    height: unset;
    /* height: 962px; */
    /* height: 1289px; */
    /* background-color: red; */
  }
  .getStarted__div {
    position: absolute;
    bottom: 0;
    padding-top: 0px;
    padding-left: 0px;
    flex-direction: row;
    height: unset;
    width: unset;
    background-color: unset;
  }
  .getStarted__paragraph {
    width: 100%;
  }
  .getStarted__divOne {
    width: 26rem;
    padding-top: 5px;
    padding-left: 30px;
  }
  .getStarted__image {
    position: relative;
    right: 20px;
    top: -50px;
    width: 510px;
    height: 500px;
    padding-right: 0px;
  }
  .getStarted__div-border {
    padding: unset;
    border-radius: unset;
    backdrop-filter: unset;
    background: unset;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    -ms-border-radius: unset;
    -o-border-radius: unset;
    width: unset;
    height: unset;
  }
  .getStarted__div-border {
    background: unset;
    background-size: unset;
  }
}
@media (min-width: 1200px) {
  .getStarted {
    /* display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center; */
    /* width: 73rem; */
    margin: 0 auto;
    position: relative;
  }

  /* .getStarted__div-border {
    padding: 0.6px;
    border-radius: 32px;
    backdrop-filter: blur(90.09677124023438px);
    background: linear-gradient(to right, #ffffff2d, #58d6aa37);
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
  } */

  .getStartedBorder {
    width: 73rem;
    height: 486px;
    position: relative;
  }
  .getStarted__div {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* background-color: #151817; */
    border-radius: 32px;
    height: 486px;
    width: 73rem;
    padding-top: 0px;
  }

  .getStarted__divOne {
    width: unset;
    padding-top: 5px;
    padding-left: 100px;
  }

  .getStarted__introduction {
    display: flex;
    gap: 8px;
    color: #2fa67c;
    /* margin-bottom: 24px; */
  }

  .getStarted__introduction-img {
    width: 16px;
    height: 16px;
  }

  .getStarted__introduction-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }

  .getStarted__header {
    width: 580px;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
  }

  .getStarted__paragraph {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 40px;
    width: 80%;
    color: white;
  }

  .getStarted__paragraph-sub {
    margin-top: 20px;
  }

  .getStarted__store {
    display: flex;
    gap: 24px;
  }

  .getStarted__googlePlay,
  .getStarted__applePlay {
    width: 132px;
    height: 44px;
  }
  .getStarted__image {
    position: relative;
    right: 80px;
    top: -25px;
    width: 557px;
    height: 532px;
    /* padding-right: 37px; */
  }
}
