.languageDropdown {
  display: flex;
  /* align-items: center; */
  gap: 8px;
  color: white;
  position: relative;
  cursor: pointer;
}
.languageDropdown__text{
  font-size: 16px;
  font-weight: normal;
  font-family: degular text;
}
.languageDropdown__internetImg {
  width: 20px;
  height: 20px;
}
.languageDropdown__arrowDown {
  width: 16px;
  height: 16px;
}

.selectLanguage {
  position: absolute;
  top: 45px;
  left: -70px;
  /*right: 0px;
  */padding: 24px;
  /*width: 160px;
  */width: 189px;
  z-index: 939;
  font-size: 16px;
  background-color: #121514;
  /* background-color: rgb(192, 192, 192); */
  color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
   transition: all 3.5s ease-out;
  -webkit-transition: all 3.5s ease-out;
  -moz-transition: all 3.5s ease-out;
  -ms-transition: all 3.5s ease-out;
  -o-transition: all 3.5s ease-out;
}

.selectLanguage-icon {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.selectLanguage_div {
  display: flex;
  /* align-items: center; */
  font-size: 16px;
  font-family: degular text;
  font-weight: normal;
}
.selectLanguage_divOne {
  display: flex;
  /* align-items: center; */
  font-size: 16px;
  margin: 16px 0px;
  font-family: degular text;
  font-weight: normal;
}

.selectLanguage__paragraph {
  font-weight: bold;
  font-size: 16px;
  /* margin-top: 15px; */
  margin-bottom: 16px;
}
